/* reset styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #19191b;
  color: #ffffff;
}

h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 84px;
}
h2 {
  font-weight: 700;
  font-size: 50px;
  line-height: 70px;
}
.my-btn {
  background: #5454d4;
  border-radius: 4px;
  color: #ffffff;
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
}
.my-btn:hover {
  border: 1px solid #5454d4;
}

.all-tarject {
  height: 400px;
}
